@import '../../common/styles/sprite.scss';

.home-message {
  padding: 200px;
  margin: 0 auto;
  color: #556b2f;
  font-size: 50px;
}

*[class^=icon-] {
  display: inline-block;
}

.icon-apple-64 {
  @include sprite($icon-apple-64);
}

.icon-apple-128 {
  @include sprite($icon-apple-128);
}

.icon-announcement-64 {
  @include sprite($icon-announcement-64);
}

.icon-announcement-128 {
  @include sprite($icon-announcement-128);
}

.icon-twitter-64 {
  width: 64px;
  height: 64px;
  background: url('../../../imgs/twitter.svg') no-repeat;
  background-size: contain;
}
